body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
//todos los links tienen la misma apariencia
a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  &:hover {
    color: grey;
  }
  &.router-link-exact-active {
    color: #e89e10;
  }
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}
.nav {
  flex-wrap: wrap;
  border-bottom: 1px solid #e89e10;
  margin-bottom: 20px;
  &-item {
    margin: 10px;
  }
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
//todos los buttons tienen la misma apariencia
.button {
  margin: 3px;
  padding: 10px;
  background-color: #e89e10;
  color: black;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    color: white;
  }
}
.text-red {
  color: red;
}
.loader {
  margin-top: 20px;
  border-top: 8px solid #d6d1d0;
  border-right: 8px solid #e89e10;
  border-bottom: 8px solid #f7b53a;
  border-left: 8px solid #c7870f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
