.main {
  flex-direction: column;
  &-img {
    width: 90%;
    margin-top: 20px;
  }
}
//si no es movil, la imagen se verá más pequeña
@media only screen and (min-width: 800px) {
  .main-img {
    width: 790px;
    margin-top: 20px;
  }
}
