.main {
  flex-direction: column;
}
.card-details {
  margin: 0 10px 10px 10px;
  color: black;
  &-title {
    margin: 0px;
    padding: 10px;
    background-color: #e89e10;
  }
  &-img {
    width: 100%;
  }
  &-container {
    background: #e89e10;
    color: black;
    padding: 10px;
    font-weight: bold;
    &-text-title {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
    &-text-info {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: black;
      color: #e89e10;
    }
  }
}
.loader-container {
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .card-details-img {
    width: 555px;
  }
}
