.items-list-card {
  width: 250px;
  height: 80px;
  font-size: 30px;
  margin: 20px;
  margin-top: 0;
  border: 0;
  cursor: pointer;
  background-color: black;
  color: white;
  border-bottom: 1px solid #e89e10;
  &:hover {
    background-image: 0;
    background-color: #e89e10;
    color: black;
  }
}
