.input-search {
  font-size: 16px;
  text-align: center;
  width: 150px;
  height: 36px;
}
.result-container {
  width: 100%;
}
.list-container {
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.pages-container {
  margin-bottom: 30px;
  &-item {
    margin: 5px;
  }
}
.navegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loader-container {
  flex-direction: column;
}
