<template>
  <div class="main display-center">
    <router-link
      :to="{
        name: 'people',
        params: { page: 1 },
      }"
    >
      <img class="main-img" alt="Star Wars Api" src="../assets/home.jpg" />
    </router-link>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";

export default class HomeView extends Vue {}
</script>

<style scoped lang="scss">
@import "../styles/homeStyles";
</style>
