<template>
  <div>
    <ItemList />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ItemList from "../components/ItemsList.vue";

@Options({
  components: {
    ItemList,
  },
})
export default class People extends Vue {}
</script>
