<template>
  <div class="starship-details">
    <ItemDetails />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ItemDetails from "../components/ItemDetails.vue";

@Options({
  components: {
    ItemDetails,
  },
})
export default class StarshipsDetails extends Vue {}
</script>
