<template>
  <div class="display-center main">
    <div class="loader-container display-center" v-if="!result.name && !error">
      <div class="loader"></div>
      <h3>Loading...</h3>
    </div>
    <div v-if="error">
      <h3 class="text-red">No {{ currentSection }} with Id: {{ id }}</h3>
    </div>
    <div class="card-details" v-if="result.name">
      <h1 class="card-details-title">{{ result.name }}</h1>
      <!-- Details of the people-->
      <div v-if="currentSection == 'people'">
        <PeopleDetailsCard v-if="result.name" :resultsProps="result" />
      </div>
      <!-- Details of the starships-->
      <div v-if="currentSection == 'starships'">
        <StarshipsDetailsCard v-if="result.name" :resultsProps="result" />
      </div>
      <!-- Details of the planets-->
      <div v-if="currentSection == 'planets'">
        <PlanetDetailsCards v-if="result.name" :resultsProps="result" />
      </div>
    </div>
    <button v-on:click="handleClickBack()" class="button">Back</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import getDetails from "../api/getDetails";
import PlanetDetailsCards from "./PlanetDetailsCard.vue";
import StarshipsDetailsCard from "./StarshipsDetailsCard.vue";
import PeopleDetailsCard from "./PeopleDetailsCard.vue";
import DataListModel from "../models/DataListModel";
import ResponseApiModel from "../models/ResponseApiModel";

export default defineComponent({
  name: "ItemDetails",
  props: {
    resultsProps: {},
  },
  components: {
    PlanetDetailsCards,
    StarshipsDetailsCard,
    PeopleDetailsCard,
  },
  data: () => ({
    response: {} as ResponseApiModel,
    result: {} as DataListModel,
    error: "" as string,
    id: "" as any, //si utilizo string me da error, cuando el typeof me muestra q es un string
    section: [] as string[],
    currentSection: "" as string,
  }),
  methods: {
    async getDetails(): Promise<DataListModel> {
      try {
        //partiendo del router param, obtenemos la sección en la que estamos
        this.section = this.$router.currentRoute.value.path.split("/");
        this.currentSection = this.section[1];
        //obtenemos la id que queremos detallar
        this.id = this.$router.currentRoute.value.params.id;
        this.response = await getDetails.get(this.id, this.currentSection);
        this.result = this.response.data;
      } catch (error) {
        this.error = error;
      }
      return this.result;
    },
    handleClickBack(): void {
      this.$router.go(-1);
      return;
    },
  },
  created(): void {
    this.getDetails();
    return;
  },
});
</script>

<style scoped lang="scss">
@import "../styles/itemDetailsStyles.scss";
</style>
