<template>
  <div class="display-center">
    <div
      class="loader-container display-center"
      v-if="!result.results || (result.results.length == 0 && !error)"
    >
      <div class="loader"></div>
      <h3>Loading...</h3>
    </div>
    <div v-if="error">
      <h3 class="text-red">Error. Invalid URL. Can't connect to Server.</h3>
      <button v-on:click="handleClickBack()" class="button">Back</button>
    </div>
    <div
      class="result-container"
      v-if="result.results && result.results.length > 0"
    >
      <!-- Menú de navegación dentro de la lista -->
      <div class="navegation">
        <!-- Input para realizar la busqueda por nombre -->
        <div>
          <input
            class="input-search"
            v-model="searchValue"
            v-on:input="handleSearch()"
            placeholder="Search by name"
          />
        </div>
        <!-- Boton de ordenar por nombre -->
        <button class="button" v-on:click="handleClickOrder()">
          {{ title }} <span class="fas fa-sort-alpha-down"></span>
        </button>
      </div>
      <p class="text-red" v-if="noresultList">
        {{ noresultList }} with text: {{ searchValue }}
      </p>
      <!-- listado  -->
      <ul class="list-container display-center">
        <li v-for="(item, index) in resultList" :key="index">
          <div>
            <ItemsListCard :itemProps="item" :sectionProps="section" />
          </div>
        </li>
      </ul>
      <!-- Paginación -->
      <div
        v-if="resultList.length > 0 && matchSearch == false"
        class="pages-container display-center"
      >
        <!-- Botón previous -->
        <router-link
          v-if="result.previous"
          :to="{
            name: section,
            params: { page: page - 1 },
          }"
        >
          <button class="button" v-on:click="handleClickGoToPage(page - 1)">
            Back
          </button>
        </router-link>
        <!-- Listado de páginas -->
        <router-link
          v-for="page in Math.ceil(result.count / 10)"
          :key="page"
          :to="{
            name: section,
            params: { page: page },
          }"
        >
          <p
            class="pages-container-item"
            v-on:click="handleClickGoToPage(page)"
          >
            {{ page }}
          </p>
        </router-link>
        <!-- Botón next -->
        <router-link
          v-if="result.next"
          :to="{
            name: section,
            params: { page: parseInt(page, 10) + 1 },
          }"
        >
          <button
            class="button"
            v-on:click="handleClickGoToPage(parseInt(page, 10) + 1)"
          >
            Next
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import getList from "../api/getList";
import ResponseApiModel from "../models/ResponseApiModel";
import DataListModel from "../models/DataListModel";
import DataResultModel from "../models/DataResultModel";
import ItemsListCard from "./ItemsListCard.vue";

export default defineComponent({
  name: "ItemsList",
  props: {
    itemProps: {},
    sectionProps: String,
  },
  components: {
    ItemsListCard,
  },
  data: () => ({
    response: {} as ResponseApiModel,
    result: {} as DataListModel,
    resultList: [] as DataResultModel[],
    section: "" as string,
    title: "" as string,
    searchValue: "" as string,
    noresultList: "" as string,
    matchSearch: false as boolean,
    page: "1" as string,
    error: "" as string,
  }),
  methods: {
    async getList(): Promise<ResponseApiModel> {
      try {
        //partiendo del router param...
        const params: string[] =
          this.$router.currentRoute.value.path.split("/");
        //obtenemos la sección en la que estamos
        this.section = params[1];
        this.title = this.section.toUpperCase();
        //obtenemos la página en la que estamos
        this.page = params[3];
        this.response = await getList.get(this.section, this.page);
        this.result = this.response.data;
        this.resultList = this.result.results;
      } catch (error) {
        this.error = error;
      }
      return this.response;
    },
    async handleClickGoToPage(page: string): Promise<ResponseApiModel> {
      try {
        //reiniciamos los valores para controlar el loading...
        this.result = {
          count: 0,
          next: "",
          previous: "",
          results: [],
        };
        this.error = "";
        this.response = await getList.get(this.section, page);
        this.result = this.response.data;
        this.resultList = this.result.results;
        this.page = page;
      } catch (error) {
        this.error = error;
      }
      return this.response;
    },
    handleClickOrder(): void {
      this.resultList.sort((a: DataResultModel, b: DataResultModel) => {
        if (a.name < b.name) {
          return -1;
        }
        if (a.name > b.name) {
          return 1;
        }
        return 0;
      });
    },
    handleSearch(): DataResultModel[] {
      this.matchSearch = false;
      const search: string = this.searchValue.toLowerCase().trim();
      let searchResult = [];
      if (!search || search == "") {
        this.resultList = this.result.results;
        this.matchSearch = false;
      }
      searchResult = this.result.results.filter(
        (item: DataResultModel) => item.name.toLowerCase().indexOf(search) > -1
      );
      if (searchResult.length > 0) {
        this.resultList = searchResult;
        this.noresultList = "";
        if (!search && searchResult.length === this.resultList.length) {
          this.matchSearch = false;
        } else {
          this.matchSearch = true;
        }
      } else {
        this.resultList = [];
        this.noresultList = "No results";
      }
      return this.resultList;
    },
    handleClickBack(): void {
      this.$router.go(-1);
      return;
    },
  },
  created(): void {
    this.getList();
    return;
  },
});
</script>

<style scoped lang="scss">
@import "../styles/itemsListStyles";
</style>
