<template>
  <router-link
    :to="{
      name: sectionProps + 'Details',
      params: { id: itemProps.url.split('/')[5] },
    }"
    ><button class="items-list-card">
      {{ itemProps.name }}
    </button>
  </router-link>
</template>

<script lang="ts">
export default {
  props: {
    itemProps: Object,
    sectionProps: String,
  },
};
</script>

<style scoped lang="scss">
@import "../styles/itemsListCardStyles";
</style>
