<template>
  <!-- Details of the planets-->
  <div>
    <img
      class="card-details-img"
      alt="Star Wars Planet"
      src="../assets/people.jpg"
    />

    <div class="card-details-container">
      <div class="card-details-container-text-title">
        <span>Birth Year</span>
        <span>Height</span>
      </div>
      <div class="card-details-container-text-info">
        <span>{{ resultsProps.birth_year }}</span>
        <span>{{ resultsProps.height }}</span>
      </div>
      <div class="card-details-container-text-title">
        <span>Mass</span>
        <span>Eye Color</span>
      </div>
      <div class="card-details-container-text-info">
        <span>{{ resultsProps.mass }}</span>
        <span>{{ resultsProps.eye_color }}</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    sectionProps: String,
    resultsProps: Object,
  },
};
</script>
<style scoped lang="scss">
@import "../styles/itemDetailsStyles.scss";
</style>
