<template>
  <!-- Details of the planets-->
  <div>
    <img
      class="card-details-img"
      alt="Star Wars Planet"
      src="../assets/planets.jpg"
    />

    <div class="card-details-container">
      <div class="card-details-container-text-title">
        <span>Climate</span>
        <span>Diameter</span>
      </div>
      <div class="card-details-container-text-info">
        <span>{{ resultsProps.climate }}</span>
        <span>{{ resultsProps.diameter }}</span>
      </div>
      <div class="card-details-container-text-title">
        <span>Gravity</span>
        <span>Terrain</span>
      </div>
      <div class="card-details-container-text-info">
        <span>{{ resultsProps.gravity }}</span>
        <span>{{ resultsProps.terrain }}</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    sectionProps: String,
    resultsProps: Object,
  },
};
</script>
<style scoped lang="scss">
@import "../styles/itemDetailsStyles.scss";
</style>
