<template>
  <!-- Details of the planets-->
  <div>
    <img
      class="card-details-img"
      alt="Star Wars Starships"
      src="../assets/starships.jpg"
    />
    <div class="card-details-container">
      <div class="card-details-container-text-title">
        <span>Crew</span>
        <span>Starship Class</span>
      </div>
      <div class="card-details-container-text-info">
        <span>{{ resultsProps.crew }}</span>
        <span>{{ resultsProps.starship_class }}</span>
      </div>
      <div class="card-details-container-text-title">
        <span>Consumables</span>
        <span>Passengers</span>
      </div>
      <div class="card-details-container-text-info">
        <span>{{ resultsProps.consumables }}</span>
        <span>{{ resultsProps.passengers }}</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    sectionProps: String,
    resultsProps: Object,
  },
};
</script>
<style scoped lang="scss">
@import "../styles/itemDetailsStyles.scss";
</style>
