<template>
  <div>
    <div class="nav display-center">
      <router-link class="nav-item" to="/">Home</router-link>
      <router-link class="nav-item" to="/people/page/1">People</router-link>
      <router-link class="nav-item" to="/starships/page/1"
        >Starships</router-link
      >
      <router-link class="nav-item" to="/planets/page/1">Planets</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
@import "./styles/appStyles.scss";
</style>
